@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('fonts/jetbrains/jetbrains.css');


:root, body {
    --base-hue: 0;
    --saturation: 1;

    /* b1-6 */
    --b1: hsl(var(--base-hue),calc(var(--saturation)*8%),40%);
    --b2: hsl(var(--base-hue),calc(var(--saturation)*8%),30%);
    --b3: hsl(var(--base-hue),calc(var(--saturation)*8%),25%); /* card hover */
    --b4: hsl(var(--base-hue),calc(var(--saturation)*8%),20%); /* card */
    --b5: hsl(var(--base-hue),calc(var(--saturation)*8%),15%); /* content */
    --b6: hsl(var(--base-hue),calc(var(--saturation)*8%),5%); /* body */
    /* d1-6 */
    --d1: hsl(var(--base-hue),calc(var(--saturation)*20%),35%);
    --d2: hsl(var(--base-hue),calc(var(--saturation)*20%),30%);
    --d3: hsl(var(--base-hue),calc(var(--saturation)*20%),25%);
    --d4: hsl(var(--base-hue),calc(var(--saturation)*20%),20%); /* tab bar */
    --d5: hsl(var(--base-hue),calc(var(--saturation)*20%),15%); /* header */
    --d6: hsl(var(--base-hue),calc(var(--saturation)*20%),10%);
    /* l1-4 */
    --l1: hsl(var(--base-hue),calc(var(--saturation)*50%),80%);
    --l2: hsl(var(--base-hue),calc(var(--saturation)*50%),75%);
    --l3: hsl(var(--base-hue),calc(var(--saturation)*50%),70%); /* link */
    --l4: hsl(var(--base-hue),calc(var(--saturation)*50%),50%);
    /* c1-2 */
    --c1: hsl(var(--base-hue),calc(var(--saturation)*40%),100%);
    --c2: hsl(var(--base-hue),calc(var(--saturation)*40%),90%); /* subcontent */
}
[time-of-day="morning"]   { --base-hue: 15;  }
[time-of-day="afternoon"] { --base-hue: 183; }
[time-of-day="evening"]   { --base-hue: 285; }
[time-of-day="night"]     { --base-hue: 340; }

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--c2);
    font-size: 20px;
    background-color: var(--b6);
    transition: background-color 0.4s, color 0.4s;
}
* {
    transition: background-color 0.4s, color 0.4s, transform 0.1s;
}

/* text select */
::selection {
    background: var(--l3);
    color: var(--b6) !important;
}
::-moz-selection {
    background: var(--l3);
    color: var(--b6) !important;
}
/* ^ have to be seperate due to spec */

h1, h2 {
    color: var(--c1);
    font-weight: 700;
}
h3, h4 {
    color: var(--c1);
    font-weight: 600;
}

h1 { font-size: 60px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }

a {
    color: var(--l3);
    text-underline-offset: 16%;
}
a:is(:hover, :focus-visible) {
    color: var(--c1);
}

strong, :focus-visible {
    background-color: var(--l3);
    color: var(--b6) !important;
    outline: none;
}

/* main */
.hero {
    display: flex;
    justify-content: center;
    padding: 120px 0;
    width: 100vw;
}

/* cover */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 6 / 2;
    overflow: hidden;
    border-radius: 10px;
}

/* panel */
.panel {
    /* reduces elements shifting during day */
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    animation: show_panel 0.9s;
}
.panel .head-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@keyframes show_panel {
    from, 55% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* header */
.head {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.head .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.date {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.date #time {
    min-width: 82px;
}
/* avatar */
.avatar {
    --size: 160px;
    width: var(--size);
    height: var(--size);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.avatar img {
    width: var(--size);
    height: var(--size);
}

/* main */
.main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: opacity 0.4s;
}
.main:not(:hover, :focus-within) {
    opacity: 0;
}

/* notice */
.notice {
    margin-top: 10px;
}
.notice, .music {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    gap: 50px;
}
.notice p {
    font-size: 14px;
    color: hsl(var(--base-hue),calc(var(--saturation)*8%),50%);
    cursor: pointer;
    transition: color 0.2s;
}
.notice p:hover, .music .track:is(:hover, :focus-visible) p {
    color: var(--c1);
}
.notice strong {
    background-color: initial;
    color: var(--c1) !important;
    font-weight: 700;
    margin-right: 3px;
    font-family: Inter !important;
}

/* music */
.music {
    min-height: 14px;
}
.music .track {
    display: flex;
    gap: 20px;
    text-decoration: none;
    transition: color 0.2s;
}
.music .track p {
    font-size: 14px;
    color: hsl(var(--base-hue),calc(var(--saturation)*8%),50%);
    transition: opacity 0.6s;
}
.music .track strong {
    background-color: initial;
    color: var(--c1) !important;
    font-weight: 500;
    margin-right: 3px;
}

.music .track p {
    opacity: 0.45;
}
.music .track p[nowplaying="true"] {
    opacity: 1;
}
.music .track p[nowplaying="true"]:before {
    background-image: url(https://www.last.fm/static/images/icons/now_playing_grey_12.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    filter: brightness(150%);
}

[artist="Glaive"], [artist="Aldn"], [artist="brakence"], [artist="Miraie"]
{
    text-transform: lowercase;
}

/* links */
.links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

/* search */
.search-bar {
    display: flex;
    gap: 10px;
}

/* input */
.search-bar .sc-container {
    flex: 1;
}
.search-bar input {
    background-color: var(--b5);
    border-radius: 10px;
    padding: 12px 40px;
    flex: 1;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--c2) !important;
    font-size: 16px;
    /* browser defaults */
    border: none;
}

.search-bar .sc-container .caret {
    margin-left: -2px;
    /*width: 3px;*/
    height: 40%;
    border-radius: 2px;
    background-color: var(--b1);
    animation: caret 1.7s infinite;
}
@keyframes caret {
    from, to {
        background-color: var(--b3);
    }
    40% {
        background-color: var(--l1);
    }
}
.search-bar input::placeholder {
    opacity: 1; /* firefox */
    color: var(--b2);
}

/* go! */
.search-bar .go {
    padding: 0 10px;
    background-color: var(--l3);
    font-family: Syne, Inter, sans-serif;
    font-weight: 500;
    color: var(--b6) !important;
    font-size: 20px;
    border-radius: 10px;
    /* browser defaults */
    border: none;
}
.search-bar .go:is(:hover, :focus-visible) {
    background-color: var(--l1);
}
.search-bar .go:active {
    transform: scale(0.97);
}
/* icon */
.search-bar svg {
    position: relative;
    top: 3px;
}
.search-bar .go:is(:hover, :focus-visible) svg {
    transform: scale(1.1);
}